<mat-toolbar>
    <!-- <span>Comments</span> -->
    <div *ngIf="selectedFileName && comments.length > 0">
        <span>Comments on {{ selectedFileName }}: </span>
    </div>
    <div *ngIf="selectedFileName && comments.length === 0">
        <span> {{ selectedFileName }} has no comments yet</span>
    </div>
    <div *ngIf="!selectedFileName">
        <span> Select a file to see its comments </span>
    </div>
</mat-toolbar>
<div class="commentViewContainer">
    <mat-list>
        <mat-list-item *ngFor="let comment of comments" [class]="getCommentClass(comment)">
            {{ comment.body }}
        </mat-list-item>
    </mat-list>
</div>
