mat-toolbar {
    margin-top: 20px;
}

span {
    font-weight: normal;
}

.stripe {
    background-color: #ececec;
}

div.commentViewContainer {
    background-color: #f5f5f5;
}

h3 {
    margin-left: 16px;
}