<div class="container">
    <mat-toolbar color="primary">
        <span>My Google documents</span>
        <div class="buttons">
            <button mat-raised-button color="accent"
                (click)="addComment()"
                [disabled]="selectedFiles.length === 0">
                Comment
            </button>
            <button mat-raised-button color="warn"
                (click)="delete()"
                [disabled]="selectedFiles.length === 0">
                Delete
            </button>
        </div>
    </mat-toolbar>

    <mat-selection-list #fileList [(ngModel)]="selectedFiles">
        <mat-list-option *ngFor="let file of files" [value]="file" (click)="setLastSelected(file); getComments()">
            {{ file.fileName }}
        </mat-list-option>
    </mat-selection-list>

    <app-comment-view [comments]="commentsOnSelectedFile"
    [selectedFileName]="lastSelectedFileName()"></app-comment-view>
</div>
