<form>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Add comment to {{ data.filename }}</mat-label>
        <textarea matInput placeholder="Comment text..." [(ngModel)]="data.body"
            name="commentInput"></textarea>
    </mat-form-field>

    <div class="buttons">
        <button mat-flat-button color="warn" (click)="onNoClick()"> Cancel </button>
        <button mat-flat-button color="primary" [mat-dialog-close]="data.body"> Save </button>
    </div>
</form>
